/* ПОДКЛЮЧЕНИЕ ШРИФТОВ */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

/* ГЛОБАЛЬНЫЕ СТИЛИ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;

  position: relative;
}

img {
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ГЛАВНАЯ СТРАНИЦА */

/* ШАПКА САЙТА */

.page-header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 70px 0;

  background-color: #fff;
}

.logo {
  margin-right: 28px;
  margin-bottom: -6px;
}

.logo-pic {
  position: relative;
  display: block;
}

.navigation {
  margin-right: auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 600px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;

  padding: 20px 16px;
}

.navigation-link:hover:not(.navigation-link-current) {
  color: #756157;
}

.navigation-link:focus:not(.navigation-link-current) {
  outline: none;
  color: #756157;
}

.navigation-link:active:not(.navigation-link-current) {
  color: #756157;
  opacity: 0.3;
}

.navigation-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-position: under;
  text-underline-offset: 19.5px;
  position: relative;
}

.user-menu {
  width: 268px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.favourites {
  position: relative;
  margin-right: 20px;
  background-image: url("../images/svg-icons/like.svg");
}

.favourites-counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 3px;
  top: 11px;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: #7db54f;
  border-radius: 50%;
}

.favourites:hover {
  opacity: 0.6;
}

.favourites:active {
  opacity: 0.3;
}

.search {
  background-image: url("../images/svg-icons/search.svg");
}

.search:hover {
  opacity: 0.6;
}

.search:active {
  opacity: 0.3;
}

.search,
.favourites {
  width: 44px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  cursor: pointer;

  border-radius: 4px;
  background-color: #756157;
}

.page-header-button {
  padding: 8px 34px;
}

.page-header-button:hover {
  background-color: #615048;
}

.page-header-button:focus {
  background-color: #615048;
  outline: none;
}

.page-header-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* ОСНОВНОЕ СОДЕРЖИМОЕ */

.main-index,
.main-inner {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

/* ПРОМО-БЛОК */

.hero {
  min-height: 485px;
  background-color: #83b3d333;
  background-image: url("../images/svg-icons/divider.svg"),
    url("../images/hero-picture.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center;
  background-size: auto, cover;
  text-align: center;
}

.hero-pic-text {
  margin-top: 51px;
}

/* ПРЕИМУЩЕСТВА */

.advantages {
  padding-top: 69px;
}

.advantages-title {
  width: 620px;
  margin: 0 auto 25px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description {
  margin: 0 0 90px;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

/* ДЕЛАЕТ КАЖДЫЙ ТРЕТИЙ ЭЛЕМЕНТ БОЛЕЕ ТЕМНЫМ ЦВЕТОМ */

.advantages-item:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* ДЕЛАЕТ ПЕРВЫЙ И ПОСЛЕДНИЙ ЭЛЕМЕНТ СПИСКА СИНИМ ЦВЕТОМ */

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82b3d3;
  color: #fff;
  flex-direction: column;
}

.advantages-list .advantages-item-wide {
  flex-direction: row;
  grid-column: 1 / span 3;
}

.advantages-list .advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

.advantages-subtitle {
  margin: 0 auto 60px;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.advantages-subtitle::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  top: 86px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-item-wide:first-child .advantages-subtitle::before,
.advantages-item-wide:last-child .advantages-subtitle::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-text {
  width: 230px;
  margin: 0 auto;
  text-align: center;
}

/* УСЛУГИ */

.services {
  padding-top: 64px;
}

.services-title {
  margin: 0 auto 20px;
  width: 505px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.services-subtitle {
  margin: 0 auto 64px;
  width: 491px;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  text-align: center;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
}

.services-item::before {
  content: "";
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
}

.services-item-housing::before {
  background-image: url("../images/svg-icons/service-icon-house.svg");
}

.services-item-food::before {
  background-image: url("../images/svg-icons/service-icon-food.svg");
}

.services-item-souvenirs::before {
  background-image: url("../images/svg-icons/service-icon-souvenir.svg");
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-type {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.services-description {
  width: 230px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  text-align: center;
}

/* ПОИСК ОТЕЛЯ */

.hotel-search {
  padding: 96px 0;
  display: flex;
  flex-direction: column;
}

.hotel-search-title {
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.hotel-search-description {
  margin: 0 auto 54px;
  width: 592px;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  text-align: center;
}

.hotel-search-button {
  margin: 0 auto;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.hotel-search-button:hover {
  background-color: #615048;
}

.hotel-search-button:focus {
  background-color: #615048;
  outline: none;
}

.hotel-search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* БЛОК С ПОДПИСКОЙ */

.subscribe {
  padding: 96px 0 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #82b3d3;
  background-image: url("../images/subscribe-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.subscribe-subtitle {
  margin: 0 auto 54px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  width: 684px;
}

.subscribe-button {
  padding: 8px 50px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border: none;
  border-radius: 0px 4px 4px 0px;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus {
  outline: none;
  background-color: #68a2ca;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled {
  background-color: #e5e5e5;
  cursor: initial;
}

.subscribe-email {
  padding: 12px 20px;
  flex-grow: 1;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  border: none;
  border-radius: 4px 0px 0px 4px;
  background-color: #f2f2f2;
}

.subscribe-email::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-email:hover {
  background-color: #e6e6e6;
}

.subscribe-email:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.subscribe-email:not(:placeholder-shown) {
  outline: 2px solid #000;
  background-color: #f2f2f2;
}

.subscribe-email:disabled,
.subscribe-email:disabled::placeholder {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
}

/* ПОДВАЛ САЙТА */

.page-footer {
  width: 1200px;
  margin: 0 auto;
  padding: 46px 0 30px;

  background-color: #fff;
}

/* КОНТАКТЫ */

.contacts {
  margin: 0 auto;
  width: 1060px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-list {
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  display: flex;
}

.social-link {
  width: 47px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #83b3d3;
}

.social-link:hover {
  fill: #68a2ca;
}

.social-link:focus {
  outline: none;
  fill: #68a2ca;
}

.social-link:active {
  fill: #68a2ca;
  opacity: 0.3;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000;
  text-decoration: none;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  outline: none;
  color: #756157;
}

.contacts-phone:active {
  color: #756157;
  opacity: 0.3;
}

.html-academy-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.html-academy-logo-pic {
  fill: #000;
}

.html-academy-logo-pic:hover {
  fill: #756157;
}

.html-academy-logo:focus .html-academy-logo-pic {
  outline: none;
  fill: #756157;
}

.html-academy-logo:focus {
  outline: none;
}

.html-academy-logo-pic:active {
  fill: #756157;
  opacity: 0.3;
}

/* СТРАНИЦА КАТАЛОГА ОТЕЛЕЙ */

/* ОБЕРТКА ДЛЯ ЗАГОЛОВКА С ХЛЕБНЫМИ КРОШКАМИ И ФИЛЬТРОМ ОТЕЛЕЙ */

.wrapper {
  padding: 35px 0 70px;
  background-color: #82b3d3;
  background-image: url("../images/inner-header-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

/* БЛОК С ЗАГОЛОВКОМ И ХЛЕБНЫМИ КРОШКАМИ */

.inner-header {
  margin: 0 auto 40px;
  width: 1060px;
}

.inner-header-title {
  margin: 0 0 8px;
  width: 1060px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  position: relative;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-link {
  position: relative;
  font-size: 16px;
  margin-left: 28px;
}

.breadcrumbs-link:hover:not(.breadcrumbs-link-current),
.breadcrumbs-link-index:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus:not(.breadcrumbs-link-current),
.breadcrumbs-link-index:focus {
  outline: none;
}

.breadcrumbs-link:active:not(.breadcrumbs-link-current),
.breadcrumbs-link-index:active {
  opacity: 0.3;
}

.breadcrumbs-link::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 10px;
  background-image: url("../images/svg-icons/breadcrumb-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  transform: translateY(-50%);
  left: -17px;
}

.breadcrumbs-link-index {
  width: 12px;
  height: 12px;
  background-image: url("../images/svg-icons/breadcrumb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* ФИЛЬТР ОТЕЛЕЙ */

.hotels-filter {
  margin: 0 auto;
  width: 1060px;
}

.hotels-filter-form {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.hotels-filter-group {
  padding: 0;
  margin: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  border: none;
}

.type-hotel {
  margin-right: 70px;
}

.hotels-filter-title {
  margin: 0 0 32px;
  font-weight: 700;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  margin-bottom: 16px;
  line-height: 23px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hotels-filter-group:not(:last-of-type) .control:hover {
  opacity: 0.6;
}

.hotels-filter-group:not(:last-of-type)
  .control:active:has(.control-input:not([disabled])) {
  opacity: 0.3;
}

.control:last-child {
  margin-bottom: 0;
}

.control-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.control-input[type="number"]::-webkit-outer-spin-button,
.control-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.control-mark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin-right: 16px;
  position: relative;
  cursor: pointer;
}

.control-mark-checkbox {
  border-radius: 4px;
}

.control-mark-checkbox::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/svg-icons/tick-icon.svg");
  background-repeat: no-repeat;
  display: none;
}

.control-input[type="checkbox"]:checked + .control-mark-checkbox::before {
  display: block;
}

.control-mark-radio {
  border-radius: 50%;
}

.control-mark-radio::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #3f5e72;
  position: absolute;
  border-radius: 50%;
  border: 5px solid #fff;
  display: none;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
  display: block;
}

.control-input[type="checkbox"]:focus + .control-mark-checkbox {
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:disabled + .control-mark-checkbox {
  cursor: initial;
  opacity: 0.6;
}

.control-input[type="radio"]:focus + .control-mark-radio {
  outline: 3px solid #83b3d3;
}

.control-input[type="radio"]:disabled + .control-mark-radio {
  cursor: initial;
  opacity: 0.6;
}

.control:has(.control-input:disabled) {
  opacity: 0.6;
  cursor: initial;
}

.range-input-wrapper .control-input:hover {
  background-color: #e6e6e6;
}

.range-input-wrapper .control-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.range-input-wrapper .control-input:not(:placeholder-shown) {
  outline: 2px solid #000;
  background-color: #f2f2f2;
}

.range-input-wrapper .control-input:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
}

.control-input-text {
  color: #000;
  line-height: 24px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  right: 20px;
}

.range-input-wrapper {
  margin-bottom: 36px;
  display: flex;
  gap: 2px;
}

.range-input-wrapper .control {
  margin: 0;
}

.range-input-wrapper .control-input {
  padding: 12px 45px 12px 21px;
  width: 143px;
  border: none;
}

.range-input-wrapper .control:first-child .control-input {
  border-radius: 4px 0px 0px 4px;
}

.range-input-wrapper .control:last-child .control-input {
  border-radius: 0px 4px 4px 0px;
}

.range {
  width: 288px;
  height: 20px;
  display: flex;
  align-items: center;
}

.range-scale {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  width: 226px;
  height: 4px;
  background-color: #fff;
  position: relative;
}

.range-toggle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.range-toggle:focus-visible {
  outline: 5px solid #83b3d3;
}

.range-toggle:active {
  outline: 3px solid #83b3d3;
}

.range-toggle:disabled {
  outline: none;
  opacity: 0.3;
  cursor: initial;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 208px;
}

.filter-button-block {
  margin: 56px 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filter-button,
.filter-button-reset {
  font-family: "PT Sans", "Arial", sans-serif;
  padding: 8px 50px;
  border: none;
}

.filter-button {
  background-color: #82b3d3;
}

.filter-button:hover {
  background-color: #68a2ca;
}

.filter-button:focus {
  outline: none;
  background-color: #68a2ca;
}

.filter-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.filter-button:disabled {
  color: #fff;
  background-color: #e5e5e5;
  cursor: initial;
}

.filter-button-reset {
  background-color: transparent;
}

.filter-button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-button-reset:focus-visible {
  outline: 3px solid #83b3d3;
}

.filter-button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-button-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
  cursor: initial;
}

/* КАТАЛОГ ОТЕЛЕЙ */

.hotels-catalog {
  margin: 0 auto;
  padding: 53px 0 60px;
  width: 1060px;
}

.hotel-catalog-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.hotels-catalog-result {
  margin: 0 auto 0 0;
  width: 338px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  margin: 0 70px 0 0;
  padding: 10px 20px;
  width: 292px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  appearance: none;
  background-image: url("../images/svg-icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 259px 16px;
  cursor: pointer;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  outline: none;
  border: 2px solid #68a2ca;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  opacity: 0.3;
  cursor: initial;
}

.select-control option {
  padding: 14px 20px;
}

.select-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  width: 160px;
}

.select-item {
  display: flex;
}

.select-button {
  width: 48px;
  height: 48px;
  padding: 0;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.select-button:hover {
  border: 2px solid #000;
}

.select-button:focus-visible {
  outline: none;
  border: 2px solid #68a2ca;
}

.select-button:active {
  border-radius: 2px solid #000;
}

.select-button-active {
  border-color: #000;
}

.select-button-cards {
  background-image: url("../images/svg-icons/select-icon-cards.svg");
}

.select-button-separate {
  background-image: url("../images/svg-icons/select-icon-separate.svg");
}

.select-button-list {
  background-image: url("../images/svg-icons/select-icon-list.svg");
}

.hotels-list {
  margin: 0 0 80px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotel-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-item-link {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #000;
  text-decoration: none;
}

.hotel-photo {
  object-fit: cover;
  width: 300px;
  height: 212px;
}

.hotel-name {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.hotel-item-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hotel-type,
.hotel-price {
  color: #333;
}

.star {
  margin: 0;
  width: 140px;
  background-repeat: repeat-x;
  background-position: left center;
}

.two-star {
  width: 45px;
  background-image: url("../images/svg-icons/star-icon.svg");
}

.three-star {
  width: 70px;
  background-image: url("../images/svg-icons/star-icon.svg");
}

.four-star {
  width: 95px;
  background-image: url("../images/svg-icons/star-icon.svg");
}

.hotel-link,
.favourite-button {
  width: 140px;
  padding: 8px 26px;
  border: none;
}

.favourite-button,
.favourite-button-active {
  font-family: "PT Sans", "Arial", sans-serif;
}

.favourite-button {
  padding: 8px 17px;
  background-color: #82b3d3;
}

.favourite-button:hover {
  background-color: #68a2ca;
}

.favourite-button:focus-visible {
  outline: none;
  background-color: #68a2ca;
}

.favourite-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.favourite-button-active {
  background-color: #7db54f;
}

.favourite-button-active:hover {
  background-color: #6c9e42;
}

.favourite-button-active:focus-visible {
  outline: none;
  background-color: #6c9e42;
}

.favourite-button-active:active {
  background-color: #6c9e42;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-link:hover {
  background-color: #615048;
}

.hotel-link:focus-visible {
  outline: none;
  background-color: #615048;
}

.hotel-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  padding: 9px 22px 7px 23px;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-item {
  display: flex;
}

.pagination-link {
  min-width: 60px;
  padding: 0 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #82b3d3;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus-visible {
  outline: none;
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000;
}

.pagination-link-current:hover {
  background-color: #f2f2f2;
  color: #000;
}

.pagination-link-current:focus-visible {
  outline: none;
  background-color: #f2f2f2;
  color: #000;
}

.pagination-link-current:active {
  background-color: #f2f2f2;
  color: #000;
}

.pagination-link-show-all {
  background-color: #fff;
  color: #000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.pagination-link-show-all:hover {
  background-color: #fff;
}

.pagination-link-show-all:focus-visible {
  outline: none;
  background-color: #fff;
}

.pagination-link-show-all:active {
  color: #000;
  background-color: #fff;
}

/* БЛОК С ПОДПИСКОЙ */

.subscribe-inner {
  background-image: none;
  background-color: #fff;
}

.subscribe-inner .subscribe-title,
.subscribe-inner .subscribe-subtitle {
  color: #000;
}

/* МОДАЛЬНОЕ ОКНО */

.modal-open .overlay,
.modal-open .modal-wrapper {
  display: block;
}

.overlay {
  position: absolute;
  background-color: rgba(242, 242, 242, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.modal-wrapper {
  padding: 64px 70px;
  width: 717px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.modal-open {
  display: block;
}

.modal-title {
  margin: 0 0 64px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close {
  padding: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal-close:hover {
  background-color: #e6e6e6;
}

.modal-close:focus-visible {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.modal-close:active .modal-close-icon {
  opacity: 0.3;
}

.modal-close:active {
  outline: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.modal-form-input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  position: relative;
}

.modal-form > .modal-form-input-group::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/svg-icons/date-icon.svg");
  background-repeat: no-repeat;
  right: 20px;
  top: 14px;
  cursor: pointer;
}

.modal-form-input {
  position: relative;
  padding: 12px 20px;
  width: 440px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: none;
}

.modal-form-input[type="number"]::-webkit-outer-spin-button,
.modal-form-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.modal-form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-form-input:hover {
  background-color: #e6e6e6;
}

.modal-form-input:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.modal-form-input:not(:placeholder-shown) {
  outline: 2px solid #000;
  background-color: #f2f2f2;
}

.modal-form-input:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
}

.clients-number {
  flex-grow: 0;
  width: 247px;
}

.clients-number:last-child {
  width: 242px;
  justify-content: flex-start;
  align-items: center;
}

.clients-number .modal-form-input {
  width: 110px;
  padding: 12px 0;
  text-align: center;
}

.clients-number-wrapper {
  position: relative;
}

.clients-number-button {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  border-radius: 4px;
}

.clients-number-button svg {
  opacity: 0.3;
  fill: #756157;
}

.clients-number-button-minus {
  top: 14px;
  left: 10px;
}

.clients-number-button-plus {
  top: 14px;
  right: 10px;
}

.clients-number-button:hover svg {
  fill: #000;
  opacity: 1;
}

.clients-number-button:focus-visible {
  fill: #000;
  opacity: 1;
  outline: 3px solid #82b3d3;
}

.clients-number-button:active svg {
  fill: #000;
  opacity: 0.3;
}

.modal-form-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-form-input-error,
.modal-form-input-allow {
  position: absolute;
  bottom: -25px;
  left: 157px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: none;
}

.modal-form-input-error {
  color: #ff5757;
}

.tooltip {
  margin-left: 10px;
  margin-right: auto;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-image: url("../images/svg-icons/tooltip-letter.svg");
  background-color: #83b3d3;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.tooltip:focus {
  outline: 3px solid #756157;
}

.tooltip-text {
  width: 256px;
  position: absolute;
  top: 52px;
  right: 42px;
  background-color: #333;
  padding: 20px 18px 23px 22px;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  display: none;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.tooltip-text::before {
  position: absolute;
  left: 127px;
  transform: translateX(-50%);
  top: -13px;
  content: "";
  width: 19px;
  height: 19px;
  background-image: url("../images/svg-icons/tooptip-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-button {
  padding: 18px 77px;
  background-color: #83b3d3;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-form-button:hover {
  background-color: #68a2ca;
}

.modal-form-button:focus {
  outline: none;
  background-color: #68a2ca;
}

.modal-form-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-form-button:disabled {
  color: #fff;
  background-color: #e5e5e5;
  cursor: initial;
}
